<div class="header">
  <h1>COOK SYSTEMS</h1>
  <h2>A FINAL APP</h2>
</div>
<div class="login-container">
  <h2>Login</h2>
  <form class="login-mod" (ngSubmit)="login()">
    <div>
      <input
        id="username"
        type="text"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="username"
      />
    </div>
    <div>
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        placeholder="password"
      />
    </div>
    <!-- Correct type here -->
    <button type="submit">Login</button>
  </form>
</div>
