* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background-color: #051622;
    color: #1ba098;
}

body {
    font-family: "Mulish", sans-serif;
    font-size: 48px;
}

.nav-container {
    height: 119px;
    border: 3px solid #deb992;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 50px;
}

.right-side li, .left-side li {
    display: inline-block;
    padding-left: 20px;
}

.right-side li a, .left-side li a {
    display: block;
    width: 100%;
    height: 100%;
}

.right-side li a:hover, .left-side li a:hover {
    color: #deb992;
}

nav img {
    width: 71px;
    height: 71px;
    margin-left: 58px;
}

.role {
    color:#f24e1e;
    font-size: 24px;
}