<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin-navbar.component.css">
    <!-- Mulish Font Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="nav-container">
        <li><img src="projectLogo.png" class="logo"></li>
        <!-- Right section of navbar -->
        <ul class="right-side">
            <li class="role">USER ROLE: ADMIN</li>
        </ul>
        <!-- Sidebar -->
        <ul class="sidebar">
            <li><a href="#">Home</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
        <!-- Left section of navbar -->
        <ul class="left-side">
            <li><a href="#">Home</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Logout</a></li>
            <li onclick=showSidebar()><a href="#" id="hamburgerLink">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
                        fill="#1BA098">
                        <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>

    <script>
        function showSidebar() {
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'block'
        }
    </script>

</body>

</html>