<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Mulish Font Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="homepage.component.css">
</head>

<body>
    <!-- <app-admin-navbar></app-admin-navbar> -->
    <!-- Need to add the navbar here conditionally (admin or worker) -->
    <div class="title-container">
        <h1 id="announcements">Announcements</h1>
        <button id="new-button">New</button>
    </div>
    <div class="create-announcement">
        <form class="form">
            <label for="title" class="labels">Title</label>
            <input type="text" class="form-input" name="title">
            <label for="message" class="labels">Message</label>
            <input type="text" class="form-input" name="message">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>