
<!-- Need to conditionally render admin or worker navbar -->

<app-admin-navbar></app-admin-navbar>
<!-- <app-worker-navbar></app-worker-navbar> -->

<!-- Title Container Fullscreen -->
<div class="title-container-fullscreen">
    <h1 id="announcements">Announcements</h1>
    <button id="new-button" onclick=showNewMenu()>New</button>
</div>

<!-- Title Container Mobile -->
<div class="title-container-mobile">
    <h2 id="announcements-mobile">Announcements</h2>
    <button id="new-button-mobile" onclick=showNewMenu()>New</button>
</div>

<!-- New Announcement Form -->
<div class="create-announcement">
    <form class="form">
        <div class="close-button-container"><img src="closeButton.png" id="close-button" onclick=hideNewMenu()>
        </div>
        <label for="title" class="labels">Title</label>
        <input type="text" class="form-input" name="title"><br>
        <label for="message" class="labels">Message</label>
        <input type="text" class="form-input" name="message">
        <input type="submit" id="submit-button" value="Submit">
    </form>
</div>

<!-- Announcement Card - Can be added to its own component later -->
<div class="card-container">
    <div class="name-date-container">
        <p class="card-component" id="card-name">Christ, CEO</p>
        <p class="card-component" id="card-date">12/18/2024</p>
    </div>
    <p class="card-component" id="card-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis fuga
        pariatur harum veniam.
        Cupiditate repellendus illum laboriosam deleniti nam, libero porro officiis optio. Quae iure explicabo
        consequuntur. Sapiente, similique qui!</p>
</div>

<!-- Functions -->

<!-- // Displays the New Annoucement Menu when New button is clicked
        // function showNewMenu() {
        //     const form = document.querySelector('.form')
        //     form.style.display = 'block'
        // } -->

<!-- // Hides the New Announcement Menu when X is clicked
    //     function hideNewMenu() {
    //         const form = document.querySelector('.form')
    //         form.style.display = 'none'
    //     } -->